.prof-card{
    height: 280px;
    width: 380px;
    /* width: 400px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}
.prof-card:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.faculties-back{
    background-color: cadetblue;
   /* background: transparent; */
    display: flex; 
     /* gap: 20px; */
    margin-top: 70px;
    /* display: grid; */
    /* box-sizing: border-box; */
}
.faculty-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    transition: 0.3s;
    padding: auto;
    /* border: 2px solid red; */
    /* column-gap: 5%; */
    /* row-gap: 30px; */
    /* margin-left: 330px; */
    /* background-color: cadetblue; */
    background: linear-gradient(to top, rgb(11, 73, 90), rgb(71, 132, 143));
    justify-content: center;
    padding-top: 20px;
}
/* .menu{
    border: 2px solid aquamarine;
    background-color: bisque;
    width: 20%;
    /* float: left; */
    /* width: 300px;
    height: 550px;
    padding: 10px;
}
     */

.closebtn{
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 1.2em;
    color: aquamarine;
    cursor: pointer;
    transition: 0.3s;
}

.menu-box ul{
    list-style-type: none;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    /* font-size: 1em; */
    /* height: 550px; */
    /* width: 17%; */
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    position:fixed;
    /* left: 5px; */
    /* margin: 5px; */
    /* top: 70px; */
    /* background-color: rgb(82, 34, 0); */
    /* overflow: auto; */
    /* margin: 0; */
}
.menu-box ul li{
    /* text-decoration: none;
    color: aquamarine; */
    font-size: 16px;
    text-align: left;
    transition: 0.5s;
}
#cse,#ce,#ee{
    color: rgb(127, 255, 249);
    text-decoration: none;
}
/* #ee{
    color: aquamarine;
    text-decoration: none;
} */

/* .menu li:hover{
   background-color: rgb(92, 0, 87);
   color: rgb(0, 242, 255) !important;
} */

.dabba{
    /* margin: 5px; */
    /* background-color: rgb(228, 255, 196); */
    /* border: 1px solid rgb(172, 0, 157); */
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 255, 255);
    /* pointer-events: none; */
    cursor: pointer;
    text-decoration: none;
   
}
.dabba:hover{
    /* background-color: rgb(1, 40, 58); */
   color: rgb(0, 242, 255);
   border:1px solid rgb(0, 255, 234);
}
/* a:-webkit-any-link {
    color: aqua;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
} */
/* #cse{
    color: aqua;
}
#cse:hover{
    background-color: rgb(0, 255, 229);
    color: black !important;
}
#ee{
    color: aqua;
}
#ee:hover{
    background-color: rgb(0, 255, 229);
   color: black !important;
}
#ce{
    color: aqua;
}
#ce:hover{
    background-color: rgb(0, 255, 229);
   color: black !important;
} */

.box-1{
    background-color: rgb(226, 255, 247);
    display: flex;
    gap: 2px;
    border-radius: 10px;
}
.box-2{
     text-align: justify;
     padding: 0px 10px;
     background-color: rgb(255, 241, 232);

   border-top: 1px solid black;
}
.prof-dp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
   background: transparent;

}
.prof-details{
    background-color: transparent;
    text-align: left;
}

.prof-details p{
   margin: 7px;

}
.circle{
  
    height: 100px;
    width: 100px;
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    border: 1px solid rgb(0, 242, 255);
}
.random{
    /* margin-top: 80px; */
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    /* background-color: rgb(150, 188, 195); */
  }










  .box{
    height: 310px;
    width: 250px;
    /* border: 2px solid rgb(0, 96, 101); */
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 4px grey;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.faculty-head{
  text-align: center;
}
.faculty-head button{
  margin: 200px;
  height: 40px;
}
.box:hover{
     height: 330px;
     width: 270px;
     border: 1px solid rgb(151, 151, 226);
     box-shadow: 0px 0px 10px rgb(137, 224, 255)
     
     /* transition: all 400ms; */
}
.outer{
    height: 330px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    box-shadow: 0px 0px 10px rgb(17, 98, 98);
}
.outer:hover{
  box-shadow: 0px 0px 0px 0px rgb(190, 190, 255);
}
.cont{
    /* height: 100vh; */
    background-color: rgb(150, 188, 195);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 40px 30px 40px;
    margin-top: 60px;
    
}
body{
    /* padding:0px 20px 20px 20px; */
    padding: 0%;
    margin: 0;
}
.image img{
    /* z-index: 10; */
    height: 120px;
    width: 120px;
    background-color: rgb(35, 213, 172);
    /* box-shadow: 0px 0px 5px solid rgb(255, 0, 0); */
      box-shadow: 0px 0px 10px rgb(0, 1, 86);
    margin: 5px;
    margin-top: 15px;
    /* border: 1px solid rgb(143, 143, 224); */
    border-radius: 50%;
}
.dp{
    background-color: rgb(0, 0, 0);
}
.details{
      /* background-color: blue; */
     /* padding-left: 20px; */
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; */
     /* position: relative; */
     height: 120px;
     /* padding: 10px; */
     align-items: center;
     /* padding-left: 20px; */
     margin-bottom: 10px;
     text-align: center;
     

}
.image{
 /* background-color: brown; */
 /* margin-top: 10px; */
 display: flex;
 justify-content: center;
}
/* .links{
    background-color: rgb(0, 15, 52);
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
} */
.nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    height: 60px;
    /* width: 700px; */
    overflow: hidden;
    background-color: #0a0338;
  }
  
 .nav ul li {
    float: right;
    font-size: 1.1em;
  }
  
  .a {
    display: block;
    color: rgb(0, 255, 242);
    text-align: center;
    /* padding: 20px 16px; */
    padding: 25px 16px;
    text-decoration: none;
  }
  .a:hover{
    color: rgb(255, 255, 255);
  }
  
  /* .a:hover:not(.active) {
    color: rgb(255, 255, 255);
  } */
  
  /* .active {
    color: rgb(0, 255, 13);
  } */
  .logo{
     height: 50px;
     width: 50px;
  }
  .heading{
     width: 400px;
     background-color:  rgb(8, 0, 55);
     display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    align-items: center;
    font-size: 1.3em;
  }
  .nav{
    margin: 0;
    padding: 0;
    height: 70px;
    /* overflow: hidden; */
    background-color: #090138;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }
 